################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Credas.NameSorter/obj
/.vs/Credas.NameSorter
/Credas.NameSorter/bin/Debug/net8.0
/Credas.NameSorter.Tests/bin/Debug/net8.0
/Credas.NameSorter.Tests/obj
/Credas.NameSorter/bin/Release/net8.0
/Credas.NameSorter.Tests/bin/Release/net8.0
